# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# User-specific files
UserSettings/

# OS files
.DS_Store
Thumbs.db

# Visual Studio files
.vs/
*.csproj
*.sln
*.user
*.userprefs

# JetBrains Rider
.idea/

# Autres fichiers binaires lourds (optionnel, déjà pris en LFS)
*.psd
*.png
*.fbx
*.wav
*.mp4
